---
import Logo from '/public/images/logo.svg';
import Social from "@/components/Social.astro";
import menu from "@/config/menu.json";
import social from "@/config/social.json";

const { footer }: { footer: { name: string; url: string }[] } = menu;
---

<footer class="bg-light dark:bg-darkmode-light">
  <div class="container">
    <div class="row items-center py-10">
      <div class="mb-8 text-center lg:col-3 lg:mb-0 lg:text-left">
        <a href="/" class="navbar-brand inline-block">
          <Logo height={125} />
        </a>
      </div>
      <div class="mb-8 text-center lg:col-6 lg:mb-0">
        <ul>
          {
            footer.map((menu) => (
              <li class="m-3 inline-block">
                <a href={menu.url}>{menu.name}</a>
              </li>
            ))
          }
        </ul>
      </div>
      <div class="mb-8 text-center lg:col-3 lg:mb-0 lg:mt-0 lg:text-right">
        <Social source={social.main} className="social-icons" />
        <h4 class="mt-4 text-text-dark hover:text-primary dark:text-white dark:hover:text-darkmode-primary"><a href="tel:+12488428055">(248) 842-8055</a></h4>
      </div>
    </div>
  </div>
</footer>
